{% extends 'litter/base.html' %}

{% block title %} {{ cat.name }} {% endblock %}

{% block content %}
<div class="base_info">
    <h1 id="cat_name">{{ cat.name }}</h1>
    <label>DoB: </label><p id="cat_dob">{{ cat.estimated_date_of_birth|date:"Y-m-d" }}</p>
    <label>Microchip: </label><p id="cat_microchip">{{ cat.microchip }} inserted on {{ cat.microchip_inserted_on|date:"Y-m-d" }}</p>
    <label>Internal ID: </label><p id="cat_internal">{{ cat.internal_id }}</p>
    <label>Gender: </label><p id="cat_gender">{{ cat.gender }}</p>
    <label>Color: </label><p id="cat_color">{{ cat.color }}</p>
    <label>Litter: </label><p id="cat_litter">{{ cat.litter }}</p>
</div>
{% for event in cat.event_set.all %}
<div class="event">
    <p id="event_{{ event.pk }}_meds">{{ event.medications }}</p>
    <p id="event_{{ event.pk }}_weight">{{ event.weight }} grams</p>
    <p id="event_{{ event.pk }}_condition">{{ event.condition }}</p>
    <a href="{% url 'edit_event' event.pk %}" id="event_{{ event.pk }}_edit">Edit Event</a>
    <a href="{% url 'delete_event' event.pk %}" id="event_{{ event.pk }}_delete">Delete Event</a>
</div>
{% endfor %}
<a href="{% url 'add_event' %}" id="add_event"> Add Event</a>
{% endblock %}